body{
  background-image: url("background image.jpg");
}


.primary {
    color: orange
}

.welcome{
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    
}

.meet {
    color: white;
    font-size: 75px;
    display: flex;
    justify-content: center;
    
    
}


.btn{
    display: flex;
    justify-content: center;
}


.startbootstrap{
    width: 200px;
    margin-top: 30px;
    margin-left: 100px;
}

.button {
    background-color: #ffc800;
    size: 100px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    height:100px;
    width: 250px;
    border-radius: 5%;
}
